spawn-sh-at-startup "swaybg -i Pictures/wallpaper.png"
input {
    keyboard {
        xkb {
            layout "fi"
        }
        numlock
    }
    touchpad {
        tap
        natural-scroll
         accel-speed 0.0
         accel-profile "flat"
         scroll-method "two-finger"
    } 
 focus-follows-mouse
    mouse {
         accel-speed 0
         accel-profile "flat"
    }
}

// `niri msg outputs`
   output "DP-1" {
    mode "1920x1080@165.003"
    scale 1
    transform "normal"
    position x=0 y=0
    focus-at-startup
}

layout {
    gaps 0
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width { proportion 0.5; }
    focus-ring {
    off
        width 2
        active-color "#55253d"
        inactive-color "#251724"
    }

    border {
        width 2
        active-color "#55253d"
        inactive-color "#251724"
        urgent-color "#ebdabc"
    }

    shadow {
         //on
    }
    struts {
         left 3
         right 3
         bottom 3
        top 0
    }
}

output "HDMI-A-2" {
    off
    mode "1600x900@60.000"
    scale 1.2
    transform "normal"
    position x=1920 y=250
}

spawn-at-startup "waybar"
spawn-at-startup "kitty"
prefer-no-csd

hotkey-overlay {
    skip-at-startup
}

screenshot-path null
animations {
    off
     slowdown 0.8
}

window-rule {
    match app-id=r#"waterfox$"# title="^Picture-in-Picture$"
    open-floating true
}

/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
    block-out-from "screen-capture"
}

clipboard {
    disable-primary
}

window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
}
cursor {
    xcursor-theme "OSX-ElCap"
    xcursor-size 38
    hide-after-inactive-ms 8000
}
overview {
    zoom 0.3
    backdrop-color "#140D14"

    workspace-shadow {
         off
    }
}

window-rule {
    match app-id="qutebrowser"
    match app-id="vesktop"
    match app-id="steam"
    match app-id="itgmania"
    match app-id="chromium"
    match app-id="waterfox"
    match app-id="SuperTuxKart"
    match app-id="shotcut"
    open-maximized true
}
window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=38 relative-to="bottom-right"
}

binds {
    Mod+W { spawn "qutebrowser"; }
    Mod+D { spawn "vesktop"; }
    Mod+E { spawn "nemo"; }
    Mod+T { spawn "kitty"; }
    Mod+Return { spawn "kitty"; }
    Mod+Space { spawn-sh "pkill tofi-drun || tofi-drun"; }
    Mod+S { spawn-sh "pkill spotify-launcher || spotify-launcher"; }
    Mod+Shift+B { spawn-sh "bluetoothctl connect 00:A4:1C:68:AD:94"; }
    Mod+B { spawn-sh "pkill blueman-manager || blueman-manager"; }
    Mod+P { spawn-sh "pkill pwvucontrol || pwvucontrol"; }

    Mod+Tab { focus-workspace-previous; }
    Mod+C repeat=false { toggle-overview; }
    Mod+Q repeat=false { close-window; } 
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+L     { focus-column-right; }
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+L     { move-column-right; }
    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }
    Mod+Alt+J         { move-workspace-down; }
    Mod+Alt+K         { move-workspace-up; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }
    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }
    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-column-width-back; }
    Mod+Alt+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+Plus { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Plus { set-window-height "+10%"; }
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }
    Mod+Shift+C { toggle-column-tabbed-display; }
    Print { screenshot; }
    Mod+Shift+S { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }
    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }
    Mod+Shift+P { power-off-monitors; }
}
